.dashboardAgent-agentInfo{
    margin-bottom: 100px;
}

.dashboardAgent-profile{
    display: flex;
}

.dashboardAgent-profile-img{
    font-size: 100px;
}

.dashboardAgent-name{
    height: 100px;
    padding-left: 15px;
}

.dashboardAgent-name h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

.dashboardAgent-name p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboardAgent-contact table{
    margin-top: 25px;
    width: 100%;
}

.tableStyle{
    font-weight: 500;
}