.listingPage-details{
    margin: 10px;
}

.detailedBorder{
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.listing-propertyHistory h4{
    font-weight: normal;
}

table{
    margin-left: 15px;
    width: 50%;
}

th{
    font-weight: normal;
    height: 30px;
}

td{
    height: 30px;
    width: 30%;
    text-align: center;
}

.neighborhood-details ul{
    padding: 10px;
}

.neighborhood-details li{
    width: 150px;
    text-align: center;
    padding-bottom: 25px;
}

.dottedBorder{
    padding-right: 15px;
    border-right: 1px dotted gray;
}

.neighborhoodMedian {
    font-size: 20px;
}

.neighborhood-details span{
    display: inline-block;
    width: 100%;
    font-size: 15px;
    padding-top: 10px;
}

.agent-info p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.agent-info a{
    text-decoration: none;
}

.agent-info div{
    padding-bottom: 15px;
    padding-top: 15px;
}

.listingInfo ul{
    padding-left: 0;
    padding-bottom: 15px;
}

.listingInfo li{
    padding-right: 60px;
}

@media screen and (min-width: 490px){
    .dottedBorder-tablet{
        border-right: 1px dotted gray;
    }

    .listingInfo ul{
        padding-right: 100px;
    }

    .propertyFeatures ul{
        display: flex;
        flex-wrap: wrap;
    }

    .propertyFeatures li{
        width: 50%;
    }

    .paymentCalculator-img{
        text-align: center;
    }
}

@media screen and (min-width: 1050px){
    .listingPage-header{
        padding: 0px 50px 0px 50px; 
    }

    .listingPage-main{
        padding: 0px 100px 0px 100px; 
    }
}
