.updateProfileBanner-section{
    height: 350px;
}

.updateProfileBanner{
    width: 100%;
    height: 250px;
    text-align: center;
    background: rgb(238, 214, 163) url("../../images/placeholderBackground.jpg") no-repeat center;
    background-size: contain;
}

.updateProfileBanner-img{
    font-size: 100px;
    padding-top: 110px;
}

.updateProfileBanner-name{
    padding-top: 10px;
}