@media screen and (min-width: 490px) and (max-width: 768px){
    .about-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .aboutDetails-container{
        display: flex;
        flex-wrap: wrap;
    }

    .aboutDetails-container p{
        width: 50%;
    }
}

@media screen and (min-width: 770px){
    .about-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    #agentBio{
        width: 45%;
    }

    .aboutDetails-container{
        width: 50%;
    }
}