.signIn-container{
    margin: 30px;
}

.signIn-section h2{
    font-weight: 500;
}

.signIn-greeting{
    text-align: center;
}

.signIn-link{
    text-align: center;
    margin: 0;
}

.signIn-link a{
    text-decoration: none;
    font-weight: 500;
}

@media screen and (min-width: 490px){
    .signIn-container{
        width: 500px;
        margin: auto;
    }
}

@media screen and (min-width: 1050px){
    .signIn-container{
        width: 600px;
    }
}