.profileBanner{
    width: 100%;
    height: 250px;
    background: rgb(238, 214, 163) url("images/placeholderBackground.jpg") no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.profileBanner img{
    width: 100px;
    margin: 25px 50px 25px 50px;
}

.profileBanner-name{
    padding-bottom: 100px;
}

.checked {
    color: orange;
}

.agentInfo{
    margin: 15px;
}

.listing-container{
    position: relative;
}

.listing-details{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

.listing-details p{
    margin: 2px;
}

.clientRating{
    width: 300px;
}

.clientRecommend{
    width: 300px;
}

@media screen and (min-width: 490px){
    .profileBanner{
        height: 400px;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .profileBanner img{
        width: 150px;
    }

    .about-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .aboutDetails-container{
        display: flex;
        flex-wrap: wrap;
    }

    .aboutDetails-container p{
        width: 50%;
    }
}

@media screen and (min-width: 1050px){
    .profileBanner{
        height: 500px;
    }

    #agentBio{
        width: 45%;
    }

    .aboutDetails-container{
        width: 50%;
    }
}