.register-form{
    margin-top: 50px;
}

.register-input{
    margin-top: 15px;
}

.register-form input[type=text]{
    width: 80%;
    height: 30px;
}

.register-form input[type=password]{
    width: 80%;
    height: 30px;
}

.register-button{
    text-align: center;
}

.register-button button{
    width: 100px;
    background-color: #384CB8;
    border: 0;
    border-radius: 2px;
    height: 40px;
    font-size: 16px;
    margin: 25px;
}

.register-form a{
    text-decoration: none;
    color: whitesmoke;
}