.register-container {
    margin: 30px;
}

.register-section h2{
    font-weight: 500;
}

.register-greeting{
    text-align: center;
}

.register-link{
    text-align: center;
    margin: 0;
}

.register-link a{
    text-decoration: none;
    font-weight: 500;
}

@media screen and (min-width: 490px){
    .register-container{
        width: 500px;
        margin: auto;
    }
}

@media screen and (min-width: 1050px){
    .register-container{
        width: 600px;
    }
}