.dashboardHeader{
    padding: 10px;
}

.hamburgerMenu{
    font-size: 30px;
}

.dashboard-title h1{
    margin: 0;
}

.dashboardImg-container{
    font-size: 30px;
    margin: 5px;
}

@media screen and (min-width: 490px){
    .dashboard-title{
        display: flex;
    }

    .dashboard-title span{
        margin-left: 10px;
    }
}