.listing-group{
    margin-bottom: 10px;
}

.listing-wrapper{
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.listing-wrapper img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.listing-address p{
    margin: 2px;
}

#listingAddress{
    padding-left: 10px;
}