.editFormSpacing{
    margin: 5px;
}

.editForm-container input[type=text]{
    width: 150px;
    height: 25px;
}

.editForm-container input[type=number]{
    width: 40px;
    height: 25px;
    padding: 2px;
}

.editForm-container span{
    margin-left: 10px;
}

.editForm-container textarea{
    width: 150px;
    height: 100px;
}

.phoneType-container{
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
}

.editForm-button{
    text-align: center;
    margin: 25px;
}

.editForm-button button{
    width: 100px;
    border: 0;
    border-radius: 2px;
    height: 40px;
    font-size: 16px;
    margin: 25px;
}