.headerSection h1{
    padding-left: 10px;
}

.headerSection nav {
    padding-left: 10px;
    padding-bottom: 2px;
    background-color: rgb(37, 23, 71);
    color: seashell;
    text-align: right;
}

.headerSection p{
    font-size: 11px;
    margin: 3px;
}

.headerSection span{
    padding-left: 20px;
}

.headerSection nav a{
    color: seashell;
    text-decoration: none;
    margin-right: 5px;
}

@media screen and (min-width: 760px){
    .headerSection p{
        font-size: 15px;
        margin: 5px;
    }
}