.proDetails-location h4{
    margin-bottom: 0;
}

.proDetails-location h5{
    margin-top: 5px;
    margin-bottom: 0;
}

.aboutMe-section p{
    margin: 0;
}

.location-group{
    margin-left: 20px;
}

.editProfile-link{
    margin-top: 25px;
}

@media screen and (min-width: 1020px){
    .aboutMe-flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .proDetails-container{
        width: 300px;
    }
}