.listing-container{
    position: relative;
}

.listing-details{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

.listing-details p{
    margin: 2px;
}