.profileBanner{
    width: 100%;
    height: 250px;
    background: rgb(238, 214, 163) url("../../images/placeholderBackground.jpg") no-repeat center;
    background-size: contain;
    text-align: center;
    color: white;
}

.profileBanner-group{
    display: inline-block;
    margin-top: 35px;
}

.profileBanner-img{
    font-size: 100px;
    margin: 25px 50px 0px 50px;
}

.profileBanner-name h2{
    font-size: 14px;
}

.overallRating{
    height: 50px;
}

@media screen and (min-width: 490px){
    .profileBanner{
        height: 400px;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .profileBanner-img{
        font-size: 150px;
    }

    .profileBanner-name h2{
        margin: 0px 10px;
        font-size: 18px;
    }
}

@media screen and (min-width: 760px){
    .profileBanner{
        height: 500px;
    }

    .profileBanner-group{
        margin-top: 190px;
    }

    .profileBanner-name h2{
        font-size: 24px;
    }
}