.profileBanner{
    width: 100%;
    height: 250px;
    background: rgb(238, 214, 163) url("../../images/placeholderBackground.jpg") no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.profileBanner-img{
    font-size: 100px;
    margin: 25px 50px 0px 50px;
}

.profileBanner-name h2{
    margin: 0px 10px;
    font-size: 14px;
}

.overallRating{
    height: 50px;
}

@media screen and (min-width: 490px){
    .profileBanner{
        height: 400px;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .profileBanner-img{
        font-size: 150px;
        margin-right: 0;
    }

    .profileBanner-name h2{
        margin: 0px 10px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1050px){
    .profileBanner{
        height: 500px;
    }
}