.listingInfoPage-section{
    background-color: whitesmoke;
}

.listingInfoPage-goBack{
    padding: 10px;
}

.listingImg-listingLink{
    padding-left: 10px;
}

.listingImg-container{
    position: relative;
}

.listingInfoPage-img img{
    width: 100%;
}

.listingDetails-container{
    position: absolute;
    bottom: 4px;
    width: 100%;
}

.listingImg-details{
    color: white;
    position: absolute;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
}

.listingImg-details p{
    margin: 2px;
}

.listingImg-background{
    position: relative;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 90px;
}

.listingInfoPage-navBar{
    margin: 15px 10px;
    display: flex;
    border-bottom: 1px solid gray;
    font-size: 12px;
    background-color: white;
    border-radius: 3px;
}

.sectioning{
    border-bottom: 2px solid lightgray;
}

.listingInfoPage-main h2{
    font-size: 20px;
    font-weight: 500;
}