header h1{
    padding-left: 10px;
}

h1 a{
    text-decoration: none;
}

nav {
    padding-left: 10px;
    padding-bottom: 2px;
    background-color: rgb(37, 23, 71);
    color: seashell;
    text-align: right;
}

nav span{
    padding-left: 20px;
}

nav a{
    color: seashell;
    text-decoration: none;
    margin-right: 5px;
}