.loginHeader h1{
    padding-left: 10px;
}

.loginHeader nav {
    padding-left: 10px;
    padding-bottom: 2px;
    background-color: rgb(37, 23, 71);
    color: seashell;
    text-align: right;
}

.loginHeader span{
    padding-left: 20px;
}

.loginHeader a{
    color: seashell;
    text-decoration: none;
    margin-right: 5px;
}