.dashboardMain-section{
    margin: 50px 10px 10px 10px;
    border-radius: 2px;
    background-color: whitesmoke;
}

.dashboardAgent-section{
    width: 340px;
}

.dashboardMain-container{
    padding: 15px;
}

/*@media screen and (min-width: 490px){
    main{
        display: flex;
    }
    section{
        width: 50%;
    }
}*/

@media screen and (min-width: 1050px){
    .dashboardMain{
        display: flex;
        padding: 0px 150px 0px 150px;
    }
}