.profileMain-section{
    margin-bottom: 25px;
    padding: 10px 15px 10px 15px;
    border-radius: 2px;
    background-color: whitesmoke;
}

.updateProfilePage-main h4{
    margin-bottom: 0;
}

.updateProfilePage-main p{
    margin-top: 5px;
}

@media screen and (min-width: 490px){
    .profileMain-section{
        width: 320px;
    }

    .agentProfile-container{
        display: flex;
        justify-content: space-evenly;
    }
}